<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hisstyle.emuitheme">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".app"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/round_icon"
        android:supportsRtl="false">
        <activity
            android:name=".start"
            android:label="TA的风格">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>